<div class="card d-flex justify-content-center">
    <div class="row  container justify-content-between align-items-center" style="padding: none; margin: none;">
      <div class="column d-flex align-items-center"><span class="fas fa-pencil-ruler icon-orange"></span> <div style="padding-left: 70px;">{{napkin.title}}</div></div>
      <div class="column justify-content-center"><a href="/napkin/{{napkin._id}}"><i class="fas fa-edit"></i></a></div>
      <div class="column justify-content-center"><a href="/delete/{{napkin._id}}"><i class="fas fa-trash-alt"></i>

      </a></div>

    </div>
</div>