<nav class="navbar sticky-top navbar-expand-lg navbar-fixed-top">
    <div class="container-fluid">
        <div>
          <a class="btn" href="javascript:history.back()"><span class="fa fa-chevron-left"></span></a>
          <a class="btn" href="javascript:history.forward()"><span class="fa fa-chevron-right"></span></a>
        </div>
        {% if user %}

        {% if napkin %}
          <form action="/update-title/{{napkin._id}}" method="POST" style="margin-right: 70%;">
            <input name="title" class="edit-title no-outline" type="text" value="{{napkin.title}}">
          </form>
        {% endif %}

        <div>
          <a class="btn" href="/logout">LOGOUT</a>
        </div>
      {% endif %}
    </div>
</nav>

