
<aside class="container">

    <script>
      // Set css var(--sidebar-width) to 65px
      document.querySelector('body.auth').style.setProperty('--sidebar-width',
        '65px');
    </script>
  
    <script>
      // Set css var(--sidebar-width) to 285px
      document.querySelector('body.auth').style.setProperty('--sidebar-width',
        '285px');
    </script>
    <nav class="sidebar main" aria-label="side">
      <ul role="list">
  
        <li class="flex navbar-brand">
          <div class="icon-label-teal navbar-brand-icon">
            <span class="iconify" data-icon="bi:search"></span>
          </div>
          <h1 class="label navbar-brand">
            Topix
          </h1>
        </li>
        <li class=" flex row">
          <a class="flex object" href="/">
            <div class="icon-label-clear">
              <span class="iconify" data-icon="bi:search"></span>
            </div>
            <span class="label">Search</span>
          </a>
        </li>
        <li class="flex row">
          <button id="modal-create-post-button"
            class="open-modal flex object">
            <div class="icon-label-clear">
              <span class="iconify" data-icon="akar-icons:plus"></span>
            </div>
            <span class="label">Create Folder</span>
          </button>
        </li>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        <div class="divider"></div>
  
  
      </ul>
    </nav>
  
  </aside>
  