body {
    background-color: #23272a;
    color: white;
}

.buble-button {
    border-radius: 15px;
    background-color: orange;
    border-color: orange;
    color: white;
}

.input-field {
    border-radius: 15px;
}