{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col d-flex"><h1>Napkins</h3></div>
            <div class="text-right">
                <a class="col d-flex text-right" href="/create"><span class="fas fa-plus icon-orange"></span> </a></div>
            </div>
        </div>
        <div style="width: 103%">
            {% for napkin in napkins %}
            {% include '/partials/napkin-card.html' %}
        {% endfor %}  
        </div>
    </div>



{% endblock %}
