<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/konva@8.0.1/konva.min.js"></script>
  <meta charset="utf-8" />
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"
></script>
  <title>Konva Canvas Scrolling Drag Demo</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f0f0f0;
    }
  </style>
</head>

<body>
  <h1>{{napkin.title}}</h1>

  <button onclick="save()">Save</button>
  <div id="container"></div>
  <h1>No Canvas</h1>
  <script>
    var width = window.innerWidth;
    var height = window.innerHeight;

    var canvas = null;

    var drawLayer = new Konva.Layer();

    $.ajax({
        async: false,
        url: 'http://127.0.0.1:5000/get-napkin-canvas/{{napkin._id}}',
        type: 'GET',
        success: function(data){
          canvas = data;
          drawLayer = Konva.Node.create(canvas.children[0])
          console.log(drawLayer)
        }
    });

    var starterStage = {
      width: canvas.attrs.width,
      height: canvas.attrs.height,
      container: 'container'
    };

    var stage = new Konva.Stage(starterStage);
    stage.add(drawLayer);

    var saveStage = null;

    function save() {
      saveStage = new Konva.Stage(starterStage);
      saveStage.add(drawLayer);

      $.ajax({
          url: 'http://127.0.0.1:5000/update/{{napkin._id}}',
          type: 'POST',
          data: {'canvas': saveStage.toJSON()},
          success: function(data) {}
      });
    }

    var WIDTH = 3000;
    var HEIGHT = 3000;

    // now draw our bars
    var scrollLayer = new Konva.Layer();
    stage.add(scrollLayer);

    const PADDING = 5;

    var verticalBar = new Konva.Rect({
      width: 10,
      height: 100,
      fill: 'grey',
      opacity: 0.8,
      x: stage.width() - PADDING - 10,
      y: PADDING,
      draggable: true,
      dragBoundFunc: function (pos) {
        pos.x = stage.width() - PADDING - 10;
        pos.y = Math.max(
          Math.min(pos.y, stage.height() - this.height() - PADDING),
          PADDING
        );
        return pos;
      },
    });
    scrollLayer.add(verticalBar);

    verticalBar.on('dragmove', function () {
      // delta in %
      const availableHeight =
        stage.height() - PADDING * 2 - verticalBar.height();
      var delta = (verticalBar.y() - PADDING) / availableHeight;

      drawLayer.y(-(HEIGHT - stage.height()) * delta);
    });

    var horizontalBar = new Konva.Rect({
      width: 100,
      height: 10,
      fill: 'grey',
      opacity: 0.8,
      x: PADDING,
      y: stage.height() - PADDING - 10,
      draggable: true,
      dragBoundFunc: function (pos) {
        pos.x = Math.max(
          Math.min(pos.x, stage.width() - this.width() - PADDING),
          PADDING
        );
        pos.y = stage.height() - PADDING - 10;

        return pos;
      },
    });
    scrollLayer.add(horizontalBar);

    horizontalBar.on('dragmove', function () {
      // delta in %
      const availableWidth =
      stage.width() - PADDING * 2 - horizontalBar.width();
      var delta = (horizontalBar.x() - PADDING) / availableWidth;

      drawLayer.x(-(WIDTH - stage.width()) * delta);
    });

    stage.on('wheel', function (e) {
      // prevent parent scrolling
      e.evt.preventDefault();
      const dx = e.evt.deltaX;
      const dy = e.evt.deltaY;

      const minX = -(WIDTH - stage.width());
      const maxX = 0;

      const x = Math.max(minX, Math.min(drawLayer.x() - dx, maxX));

      const minY = -(HEIGHT - stage.height());
      const maxY = 0;

      const y = Math.max(minY, Math.min(drawLayer.y() - dy, maxY));
      drawLayer.position({ x, y });

      const availableHeight =
        stage.height() - PADDING * 2 - verticalBar.height();
      const vy =
        (drawLayer.y() / (-HEIGHT + stage.height())) * availableHeight + PADDING;
      verticalBar.y(vy);

      const availableWidth =
        stage.width() - PADDING * 2 - horizontalBar.width();

      const hx =
        (drawLayer.x() / (-WIDTH + stage.width())) * availableWidth + PADDING;
      horizontalBar.x(hx);
    });

    var isPaint = false;
    var mode = 'brush';
    var lastLine = null;

    stage.on('mousedown touchstart', function (e) {
      isPaint = true;
      var x = e.pageX - drawLayer.x();
      var y = e.pageY - drawLayer.y();
      var pos = { 'x': x, 'y': y };

      lastLine = new Konva.Line({
        stroke: '#df4b26',
        strokeWidth: 5,
        globalCompositeOperation:
          mode === 'brush' ? 'source-over' : 'destination-out',
        points: [pos.x, pos.y],
      });

      lastLine.attrs.points = lastLine.attrs.points.slice(2);

      drawLayer.add(lastLine);
      console.log(drawLayer)
    });

    stage.on('mouseup touchend', function () {
      isPaint = false;
      save();
    });

    // and core function - drawing
    stage.on('mousemove touchmove', function () {
      if (!isPaint) {
        return;
      }

      var x = stage.getRelativePointerPosition().x - drawLayer.x();
      var y = stage.getRelativePointerPosition().y - drawLayer.y();
      var pos = { 'x': x, 'y': y };
      var newPoints = lastLine.points().concat([pos.x, pos.y]);
      lastLine.points(newPoints);
    });
  </script>
</body>

</html>