{% extends "layouts/base.html" %}
{% block content %}
  {% if not napkins %}
  <section class= "card-header">
    <div class="flex jumbocard" style="margin-bottom: 40%;">
      <div class="icon-label-large icon-label-black">
        <span class="iconify" data-icon="game-icons:pencil">
        </span>
      </div>
      <h2>&nbsp;</h2>
      <h1>No Napkins Found</h1>
      <div class="row" style="padding-top: 15px;">
    
      <a href="/api/create" class="button blue">+ New Napkin</a>
    </div>
    </div>
  </section>
  {% else %}



  <div class="row" style="overflow: scroll !important; min-height: 75%;">
{% for napkin in napkins %}
    {% include '/partials/napkin-card.html' %}
  {% endfor %}
  </div>


  {% endif %}
{% endblock %}

{% block modal %}
{{ super() }}

{% endblock modal %}
